In [1]:
#While loops

# process:
1. intialization
2. stopping condition
3. updation
start_variable

while (test expression):

logic
upadtion_to_start_variable

In [3]:
i=1
while i<=21:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [4]:
i=2
while i<=21:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

In [7]:
i=2
while i<=21:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [8]:
i=0
while i<=21:
    if i%2!=0:
        print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19
21

In [10]:
i=0
while i<=10:
    print(i)
    i+=1
else:
    print("Hello World!")

0
1
2
3
4
5
6
7
8
9
10
Hello World!

# while True  = infinite

In [154]:
h = int(input())
sum_=0
while True:
    sum_+=h
    h-=1
    
    if h==0:
        break
print(sum_)

5
15

In [27]:
list(range(1, 21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
for i in range(1,21,2):
    print(i)
else:
    print("Old number")

1
3
5
7
9
11
13
15
17
19
Old number

In [31]:
for i in range(2, 21, 2):
    print(i)
else:
    print("Even number")

2
4
6
8
10
12
14
16
18
20
Even number

In [34]:
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [35]:
for i in range(1, 11):
    print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

In [36]:
for i in range(1, 11):
    print(i, end=" ")
else:
    print()
    print("All Done")

1 2 3 4 5 6 7 8 9 10
All Done

In [38]:
tuple(range(1, 21, 2))

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [40]:
for i in range(2,21,2):
    print(i)
else:
    print("All done")

2
4
6
8
10
12
14
16
18
20
All done

In [41]:
d = [10, 20, 50, 5, 2]

In [42]:
for i in d:
    print(i**2)

100
400
2500
25
4

In [43]:
for i in (50, 60, 70):
    print(i)

50
60
70

In [44]:
for i in "Apple":
    print(i)

A
p
p
l
e

In [45]:
h=10
g=50

In [46]:
print(f"The first number is {h}, and the second number is {g}")  #Mostly used this method

The first number is 10, and the second number is 50

In [48]:
print("The fist number is {}, and the second number is {}".format(h, g))  # Old method

The fist number is 10, and the second number is 50

In [51]:
n = int(input("Enter number:"))
for i in range(1, 11):
    print(f"{n}*{i}={n*i}")

Enter number:5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

# pattern printing
observations:
    1. number of rows = n
    2. number of rows = number of stars

In [ ]:
*
**
***
****
*****

# nested loop

In [56]:
n=5
for i in range(1, n+1):
    for j in range(0,i):
        print("*", end="")
    print()

*
**
***
****
*****

In [57]:
for i in range(1, n+1):
    print("*"*i)

*
**
***
****
*****

# Task for print the pattern like below:

In [ ]:
*****
****
***
**
*

In [81]:
n=5
for i in range(1,n+1):
    for j in range(0,i):
        print("*",end="")
    print()

*
**
***
****
*****

In [88]:
n=int(input())

7

In [92]:
num=0
for i in range(1,n+1):
    for j in range(i):
        print(num, end="")
        num+=1
    print()

0
12
345
6789
1011121314
151617181920
21222324252627

* * * * *
*       *
*       *
*       *
* * * * *

In [102]:
side_length = 5
for i in range(side_length):
    for j in range(side_length):
        if i==0 or i==side_length-1 or j==0 or j==side_length-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [104]:
list(range(side_length))

[0, 1, 2, 3, 4]

In [118]:
side_length=5
for i in range(side_length):
    if i==0 or i==side_length-1:
        print("*"*side_length)
    else:
        print("*"+" "*(side_length-2)+"*")

*****
*   *
*   *
*   *
*****

In [119]:
# sum of first n natural numbers

In [124]:
n = int(input("enter the any number:"))
s = 0
for i in range(1, n+1):
    s+=i
print(f"the sum of first n natural number {s}")

enter the any number:5
the sum of first n natural number 15

# Break, Continure and pass

In [126]:
for i in range(1, 10):
    if i==5:
        break
    print(i)

1
2
3
4

In [127]:
for i in range(1, 10):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9

In [128]:
l = [50, 40, "Python", "Pintu", 78]

In [129]:
l

[50, 40, 'Python', 'Pintu', 78]

In [133]:
l.pop(2), l.pop(3)

('Python', 78)

In [134]:
l

[50, 40, 'Pintu']

In [135]:
del l

In [137]:
l = [50, 60, 5, 2, 3]

In [138]:
l

[50, 60, 5, 2, 3]

In [145]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [146]:
del l

In [151]:
for i in range(1,5):
    pass

In [153]:
if 4>5:
    pass

In [3]:
n=5
for i in range(n, 0, -1):
    print('*'*i)

*****
****
***
**
*

In [39]:
num=0
for i in range(1, n+1):
    for j in range(0, i):
        num+=1
        print(num, end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [45]:
num=0
for i in range(n, 0, -1):
    for j in range(0, i):
        print(j, end=' ')
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [59]:
n=5
for i in range(1, n+1):
    print('*'*i)
print()

for i in range(n,0, -1):
    print('*'*i)

*
**
***
****
*****

*****
****
***
**
*

In [68]:
row=5
for i in range(1,row+1):
    for j in range(1, row+1):
        print('*', end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [81]:
n=5
for i in range(1, n+1):
    for j in range(1,i+1):
        print('*', end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(1, i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*